apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: markethub

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  # Infrastructure
  - mongodb/statefulset.yaml
  - postgres-order/statefulset.yaml
  - postgres-payment/statefulset.yaml
  - rabbitmq/statefulset.yaml
  - redis/deployment.yaml
  # Identity
  - keycloak/realm-configmap.yaml
  - keycloak/statefulset.yaml
  # Application services
  - gateway/deployment.yaml
  - gateway/service.yaml
  - gateway/ingress.yaml
  - product-catalog/deployment.yaml
  - product-catalog/service.yaml
  - order/deployment.yaml
  - order/service.yaml
  - payment/deployment.yaml
  - payment/service.yaml
  - notification/deployment.yaml
  - notification/service.yaml
  - web/deployment.yaml
  # Monitoring
  - loki/deployment.yaml
  - grafana/datasource-configmap.yaml
  - grafana/deployment.yaml
