apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: markethub
data:
  loki.yml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki:3100
        isDefault: true
        editable: false
