apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: markethub
spec:
  serviceName: mongodb
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:7
          args: ["--replSet", "rs0", "--bind_ip_all"]
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              value: markethub
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: markethub-secrets
                  key: MONGO_PASSWORD
            - name: MONGO_INITDB_DATABASE
              value: product_catalog
          volumeMounts:
            - name: data
              mountPath: /data/db
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            exec:
              command:
                - mongosh
                - --quiet
                - --eval
                - "db.adminCommand('ping')"
            initialDelaySeconds: 10
            periodSeconds: 10
      initContainers:
        - name: init-rs
          image: mongo:7
          command:
            - bash
            - -c
            - |
              sleep 5
              until mongosh --host localhost:27017 -u markethub -p markethub --authenticationDatabase admin --eval "db.adminCommand('ping')" --quiet; do
                sleep 2
              done
              mongosh --host localhost:27017 -u markethub -p markethub --authenticationDatabase admin --eval "
                try { rs.status() } catch(e) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongodb-0.mongodb.markethub.svc.cluster.local:27017'}]}) }
              " --quiet
          restartPolicy: Always
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: markethub
spec:
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017
  clusterIP: None
